#top {margin:-10px;padding:0px; width:100%}
#backdrop {margin:-30px;padding:0px; width:90%; z-index:-2; position:absolute}

body
 {
 background-image:url('./diagnositc_images/logo.png');
 background-repeat:repeat;
 }